#landing_page{
  display: flex;
  border: 2px solid black;
  width: 75vw;
  margin: auto;
  border-radius: 30px;
  }

.img_land{
  width: 20vw;
  border-radius: 30px;
  margin: 1rem;
}

.vue_gauche{
  padding: 2rem;
  margin: auto;
}

.home_title {
  text-align: center;
}

