#update_liste{
  display: flex;
  margin: 5rem 10rem 5rem 10rem;
}

.titre_update{
  margin: 3rem;
}
.message_update{
 margin-left: 0.5rem;
}
.update_expediteur{
  margin-left: 0.5rem;
}

.update{
  text-decoration: underline;
}
.message_up{
  margin: 3rem;
}
.form_update{
  margin: 3rem;
}
.input_update{
  width: 100%;
}
.case{
  display: initial;
}
