h2{
  text-align: center;
}

.fait{
  background-color: green;
  color: #FFFFFF;
  text-transform: uppercase;
}
.partiellement{
  background-color: orange;
  color: #FFFFFF;
  text-transform: uppercase;
}
.impossible{
  background-color: darkred;
  color: #FFFFFF;
  text-transform: uppercase;
}

.faire{
  font-weight: bold;
  text-transform: uppercase;
}