.btn {
  margin-top: 2rem;
  display: inline;
  border: solid 1px #424558;
  padding: 5px 10px;
  border-radius: 25px;
  background-color:#424558;
  color: #FFFFFF;
  text-decoration: none;
}

.btn:hover {
  background-color: #FFFFFF;
  color: #424558;
}
