{% extends 'base.html.twig' %}

{% block main %}
    <h1 class="home_title">Organisez votre temps de travail et celui de vos collègues</h1>
   <section id="landing_page">
{#       <div class="vue_gauche">#}
{#           <p>Que ce soit au travail avec vos collègues ou chez vous avec vos proches, organisez vos taches communes pour ne plus rien oublier</p>#}
{#       </div>#}
{#       <div class="img_d">#}
{#           <img class="img_land" src="../public/asset/img/homme.jpg" alt="image liste">#}
{#           <img class="img_land" src="../public/asset/img/list_papier.jpg" alt="image liste">#}
{#       </div>#}
{#       <div class="img_g">#}
{#           <img class="img_land" src="../public/asset/img/post_it.jpg" alt="image liste">#}
{#           <img class="img_land" src="../public/asset/img/liste_ordi.jpg" alt="image liste">#}
{#       </div>#}

       <div class="vue_haut">
           <div class="travail card">
               <h2 class="text_img">Au travail</h2>
           </div>
           <div class="maison card">
               <h2 class="text_img">A la maison</h2>
           </div>
       </div>
       <div class="vue_bas">
           <div class="amis card">
               <h2 class="text_img">Avec vos amis</h2>
           </div>
           <div class="watsapp card">
               <h2 class="text_img">Bientôt sur WattsApp</h2>
           </div>
       </div>

   </section>
{% endblock %}